<!DOCTYPE html>
<html lang="en">
	<head>
	 {% load static %}
	 <!--
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" 
		href="{% static 'node_modules/materialize/css/materialize.min.css' %}"media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="{% static 'style.css' %}" media="screen,projection"/>

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		--!>
		</head>

	<body>
		<p>HELLO WORLD</p>
<!--
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="{% static 'node_modules/materialize/js/materialize.min.js' %}"></script>
		<script src="{%  static 'js/init.js' %}"></script>
		--!>
	</body>
</html>

